<head>
<script type="text/javascript" src="assets/javascript/app.js"></script>
</head>
{{> navbar}}

<div class="container">
	<div class="jumbotron">
		<h1>Meet the All Y'all Developers</h1><br/>
	</div>
</div>

<div class="container">

<!-- Developers Section -->
		<div class="row text-center">
			<div class="col-md-12 text-center">
				<div class="row">
					<div class="col-md-4 dev-images">
						<img class="img-responsive devs tin" src="assets/img/charlie.jpg" data-still="assets/img/charlie.jpg" data-animate="assets/img/tin.png" data-state="still">
						<h3>Charlie Kelly</h3>
						<h4>AKA Tin Nguyen</h4>
					</div>
					<div class="col-md-4 dev-images">
						<img class="img-responsive devs morgan" src="assets/img/dee.jpg" data-still="assets/img/dee.jpg" data-animate="assets/img/callie1.jpg" data-state="still">
						<h3>Dee Reynolds</h3>
						<h4>AKA Morgan Greenwalt</h4>
					</div>
					<div class="col-md-4 dev-images">
						<img class="img-responsive devs ps" src="assets/img/dennis.jpg" data-still="assets/img/dennis.jpg" data-animate="assets/img/ps.png" data-state="still">
						<h3>Dennis Reynolds</h3>
						<h4>AKA Prabhdeep Singh</h4>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 text-center">
				<div class="row">
					<div class="col-md-4 dev-images">
						<img class="img-responsive devs ryan" src="assets/img/frank.jpg" data-still="assets/img/frank.jpg" data-animate="assets/img/ryan.jpeg" data-state="still">
						<h3>Frank Reynolds</h3>
						<h4>AKA Ryan Heitmann</h4>
					</div>
					<div class="col-md-4 dev-images">
						<img class="img-responsive devs topher" src="assets/img/mac.jpg" data-still="assets/img/mac.jpg" data-animate="assets/img/topher.png" data-state="still">
						<h3>Mac</h3>
						<h4>AKA Topher</h4>
					</div>
				</div>
			</div>
		</div>
</div>
<script type="text/javascript" src="assets/javascript/app.js"></script>